<%= form_for(@parking_registration) do |f| %>
  
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :parking_spot %><br>
    <%= f.text_field :parking_spot %>
  </div>
   <div class="field">
    <%= f.label :parked_on %><br>
    <%= f.text_field :parked_on %>
  </div>
  <div class="actions">
    <%= f.submit "Register" %>
  </div>
<% end %>
